 #map-well {
        height: 600px;
    }
    
    #accordion {
        height: 600px;
        border-radius: 5px;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }
    
    .panel {
        display: block;
        overflow: auto;
        border: 0;
    }
    
    #searchbar {
        background: none;
    }
    
    #searchpanel {
        margin-bottom: 10px;
    }
    
    #logo {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1px;
    }
    
    #panel-bg {
        background: white;
    }
    
    .panel-title {
        color: black;
    }
    
    .panel-body {
        height: 370px;
        overflow-y: scroll;
    }
    
    .popover {
        width:400px;
        height:400px;
        left: 100px !important;
    }
    
    #entryPO {
        color:black;
        width:150px;
    }