 #firstFloorWell, #secondFloorWell, #firstFloor, #secondFloor {
        width: auto;
        height: 600px;
        background: white;
        border-radius : 0px;
        border-top: 0px;
    }

    #accordion {
        height: 640px;
        border-radius: 5px;
        border: 1px solid lightgrey;
    }
    
    .panel {
        display: block;
        overflow: auto;
        border: 0;
    }
    
    #searchbar {
        background: none;
    }
    
    #searchpanel {
        margin-bottom: 10px;
    }
    
    #searchSection {
        height:0px;
        overflow-y:scroll;
        
    }
    
    #logo {
        margin-left: 1px;
    }
    
    #panel-bg {
        background: white;
    }
    
    .panel-title {
        color: black;
        font-size: 20px;
    }
    
    .panel-body {
        height: 385px;
        overflow-y: scroll;
    }

    #inputLogo {
        margin-left: 25px;
    }
    
    .form-control {
        margin-bottom: 5px;
    }
    
    .popover {
        width:400px;
        height:400px;
    }
    
    #entryPO {
        color:black;
        width:300px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    #popContent {
        width:250px;
        height:300px;
        overflow-y:scroll;
    }
    
    #popContentName {
        position:absolute;
        right:12%;
    }
    