<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Boilerplate Catalog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- favicon -->
    <link rel="shortcut icon" href="makerlabsfavicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- materialize for input forms -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Google Material Icon lib -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="admin.css">

</head>
<body ng-app="app">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">
    <div ng-controller="adminController as admin">
        <div class="row" id="info-row">
            <div class="col-md-2" id="list">
                <img src="makerlabsbanner.png" alt="MakerLabs Logo" id="logo">
                <!-- search bar -->
                <div class="form-group" id="search-form-group">
                    <div class="input-group search-bar-ht">
                        <input type="search" name="searchBar" id="search-bar" class="form-control search-bar-ht"
                               title="searchBar"
                               placeholder="Search here" ng-model="admin.query">
                        <span class="input-group-addon cursor" ng-click="admin.clear()" id="remove-icon"><span
                                class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!-- accordion group -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default no-border">
                        <div class="panel-heading cursor round-right-edge" data-toggle="collapse"
                             data-parent="#accordion"
                             href="#collapse-search" id="panel-search">
                            <h4 class="panel-title">
                                <span>Search Results</span>
                            </h4>
                        </div>
                        <div id="collapse-search" class="panel-collapse collapse">
                            <div class="panel-body grey-scroll">
                                <!-- TODO: Why is ng-bind so much faster than ng-if, ng-show -->
                                <div class="click round-right-edge search-font search-pad"
                                     ng-repeat="entry in admin.data.all"
                                     ng-bind="admin.search(entry)"
                                     ng-click="admin.querySelect(entry.key)" id="q-{{ entry.key }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default no-border">
                        <div class="panel-heading red cursor round-right-edge" data-toggle="collapse"
                             data-parent="#accordion"
                             href="#collapse-studio">
                            <h4 class="panel-title white-font">
                                <span>Studio <span class="badge" ng-bind="admin.data.badge.studios"></span> </span>
                            </h4>
                        </div>
                        <div id="collapse-studio" class="panel-collapse collapse in">
                            <div class="panel-body red-scroll">
                                <div class="click round-right-edge" ng-repeat="studio in admin.data.studios"
                                     id="{{ studio.key }}">
                                    <p class="names" ng-bind="studio.name" ng-click="admin.select(studio.key)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default no-border">
                        <div class="panel-heading blue cursor round-right-edge" data-toggle="collapse"
                             data-parent="#accordion"
                             href="#collapse-tool">
                            <h4 class="panel-title white-font">
                                <span>Tools <span class="badge" ng-bind="admin.data.badge.tools"></span></span>
                            </h4>
                        </div>
                        <div id="collapse-tool" class="panel-collapse collapse">
                            <div class="panel-body blue-scroll">
                                <div class="click round-right-edge" ng-repeat="tool in admin.data.tools"
                                     id="{{ tool.key }}">
                                    <p class="names" ng-bind="tool.name" ng-click="admin.select(tool.key)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default no-border">
                        <div class="panel-heading cursor green round-right-edge" data-toggle="collapse"
                             data-parent="#accordion"
                             href="#collapse-consumable">
                            <h4 class="panel-title white-font">
                                <span>Consumables <span class="badge"
                                                        ng-bind="admin.data.badge.consumables"></span></span>
                            </h4>
                        </div>
                        <div id="collapse-consumable" class="panel-collapse collapse">
                            <div class="panel-body green-scroll">
                                <div class="click round-right-edge" ng-repeat="consumable in admin.data.consumables"
                                     id="{{ consumable.key }}">
                                    <p class="names" ng-bind="consumable.name"
                                       ng-click="admin.select(consumable.key)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default no-border">
                        <div class="panel-heading cursor orange round-right-edge" data-toggle="collapse"
                             data-parent="#accordion"
                             href="#collapse-material">
                            <h4 class="panel-title white-font">
                                <span>Materials <span class="badge" ng-bind="admin.data.badge.materials"></span></span>
                            </h4>
                        </div>
                        <div id="collapse-material" class="panel-collapse collapse">
                            <div class="panel-body orange-scroll">
                                <div class="click round-right-edge" ng-repeat="material in admin.data.materials"
                                     id="{{ material.key }}">
                                    <p class="names" ng-bind="material.name" ng-click="admin.select(material.key)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="details">
                <br>
                <!--<div ng-repeat="value in admin.details track by $index">-->
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="{{ admin.details.name }}" id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="{{ admin.details.quantity }}" id="qty" type="number" class="validate">
                        <label for="qty">Quantity</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="admin.increaseQty()">
                            <i class="material-icons">
                                add
                            </i>
                        </a>
                    </div>
                    <div class="input-field col s2">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="admin.decreaseQty()">
                            <i class="material-icons">
                                remove
                            </i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header">
                                Type and Sublocation
                            </div>
                            <div class="collapsible-body">
                                <br>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input class="with-gap" name="radio-type" type="radio" id="radio-studio"
                                               value="Studio"/>
                                        <label for="radio-studio">Studio</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <input class="with-gap" name="radio-type" type="radio" id="radio-tool"
                                               value="Tool"/>
                                        <label for="radio-tool">Tool</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="with-gap" name="radio-type" type="radio" id="radio-material"
                                               value="Material"/>
                                        <label for="radio-material">Material</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="with-gap" name="radio-type" type="radio" id="radio-consumable"/>
                                        <label for="radio-consumable">Consumable</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="{{ admin.details.subtype }}" id="subtype" type="text"
                                               class="validate">
                                        <label for="subtype">Subtype</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="{{ admin.details.sublocation }}" id="sublocation"
                                               type="text"
                                               class="validate">
                                        <label for="sublocation">Sublocation</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">


                </div>
            </div>
            <div class="col-md-7" id="map">
                <div id="map-container">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<!-- jQuery local fallback -->
<script>
    window.jQuery || document.write('<script src="jquery-3.1.0.min.js"><\/script>')
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!-- bootstrap js local fallback -->
<script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="bootstrap.min.js"><\/script>')
    }
</script>

<!-- bootstrap css fallback -->
<script>
    $(document).ready(function () {
        var bodyColor = $('body').css('color');
        if (bodyColor != 'rgb(51, 51, 51)') {
            $("head").prepend('<link rel="stylesheet" href="bootstrap.min.css">');
        }
    });
</script>
<!-- dev -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
<!-- angular local fallback -->
<script>
    window.jQuery || document.write('<script src="jquery-3.1.0.min.js"><\/script>')
</script>

<script src="analytics.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<!-- d3 local fallback -->
<script>
    window.d3 || document.write('<script src="d3.min.js"><\/script>')
</script>

<!-- materialize for inputs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script src="app.module.js"></script>
<script src="admin.controller.js"></script>
<script src="s3.service.js"></script>
<script src="sheets.get.service.js"></script>
<script src="refresh.service.js"></script>
<script src="search.service.js"></script>
<script src="highlight.service.js"></script>
<script src="analytics.service.js"></script>

</body>
</html>
