<!DOCTYPE>
<html>

<head>
    <title>Data Population</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<style>
    #logo {
        margin-left: 25px;
    }
    
    .form-control {
        /* apply a tag to input stuff if search bar should not have this margin  */
        margin-bottom: 5px;
    }
    
    .tab-content {
        margin-top: 10px;
    }
</style>

<body>
    <div ng-app="myApp">
        <div class="container-fluid" id="searchBG" ng-controller="MainCtrl">
            <div class="row">
                <div class="col-md-1" style="margin-top:10px">
                    <a href="/" style="color:black">
                        <span class="glyphicon glyphicon-chevron-left"></span> Return
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <img src="../assets/makerlabs.png" alt="makerlabslogo" id="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" placeholder="Search for your item here..." ng-model="inputQuery" id="searchBar" />
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div style="height:500px;overflow-y:scroll">
                            <div ng-repeat="object in data">
                                <a ng-href="#item" aria-controls="tab" role="tab" data-toggle="tab" style="color:black;">
                                                {{ inputQuery.length == 0 
                                                    ? object[0]
                                                    : object[0].toLowerCase().indexOf(inputQuery.toLowerCase()) != -1 
                                                        ? object[0] 
                                                        : '' }}
                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 well well-sm" style="height:500px">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#studioIn" aria-controls="home" role="tab" data-toggle="tab">Studio</a>
                                </li>
                                <li role="presentation">
                                    <a href="#matIn" aria-controls="tab" role="tab" data-toggle="tab">Material</a>
                                </li>
                                <li role="presentation">
                                    <a href="#toolIn" aria-controls="tab" role="tab" data-toggle="tab">Tool</a>
                                </li>
                                <li role="presentation">
                                    <a href="#conIn" aria-controls="tab" role="tab" data-toggle="tab">Consumable</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="studioIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="stdPost()">
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="formData.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-md-2 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Type" id="formData.Type" placeholder="Studio" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="formData.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-md-10 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Name" id="formData.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="formData.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-md-4 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Loc" id="formData.LocIn" placeholder="Pick location on map?" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label for="formData.DimW" class="control-label">Dimensions/Units: W x L / U </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimW" id="formData.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimL" id="formData.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control " type="text" ng-model="formData.DimU" id="formData.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-md-offset-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="matIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="matPost()">
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="matForm.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-md-2 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.Type" id="matForm.Type" placeholder="Material" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="matForm.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-md-10 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.Name" id="matForm.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="matForm.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-md-4 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.Loc" id="matForm.LocIn" placeholder="Pick location on map?" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="matForm.Weight" class="control-label">Weight/Unit: </label>
                                                </div>
                                                <div class="col-md-4 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.Weight" id="matForm.Weight" placeholder="Weight" />
                                                </div>
                                                <div class="col-md-2 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.WUnit" id="matForm.WUnit" placeholder="Unit" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label for="matForm.DimW" class="control-label">Dimensions/Units: W x L x H / U </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" ng-model="matForm.DimW" id="matForm.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" ng-model="matForm.DimL" id="matForm.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" ng-model="matForm.DimH" id="matForm.DimH" placeholder="Height" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control " type="text" ng-model="matForm.DimU" id="matForm.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-1">
                                                    <label for="matForm.Qty" class="control-label">Quantity: </label>
                                                </div>
                                                <div class="col-md-4 col-md-offset-1">
                                                    <input class="form-control" type="text" ng-model="matForm.Qty" id="matForm.Qty" placeholder="Quantity" />
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-md-offset-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="toolIn">
                                    Tool Tab
                                </div>
                                <div role="tabpanel" class="tab-pane" id="conIn">
                                    Consumables Tab
                                </div>
                                <div role="tabpanel" class="tab-pane" id="del">
                                    <form ng-submit="deletePost()">
                                        <div class="col-md-5"><input class="form-control" type="text" ng-model="deleteName.Entry" placeholder="Name of entry to delete..."
                                            /></div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="item">
                                    Item Tab
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous "></script>
    <script src="../app/components/index/index.js"></script>
</body>

</html>