<!DOCTYPE>
<html>

<head>
    <title>Data Population</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

    <link href="../style/index.css" rel="stylesheet">
</head>


<body>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../d3_files/d3demo.js"></script>

    <div ng-app="myApp">
        <div class="container-fluid" id="searchBG" ng-controller="MainCtrl">
            <div class="row">
                <div class="col-sm-1" style="margin-top:10px">
                    <a href="/" style="color:black">
                        <span class="glyphicon glyphicon-chevron-left"></span> Return
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-4">
                    <img src="../assets/makerlabs.png" alt="makerlabsinputLogo" id="inputLogo" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control" placeholder="Search for your item here..." ng-model="inputQuery" id="searchBar" />
                </div>
            </div>
            <hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div style="height:500px;overflow-y:scroll">
                            <div ng-repeat="object in data">
                                <div uib-popover-template="adminProps" popover-placement="right" popover-trigger="outsideClick" popover-title="{{ object[0] }}"
                                    popover-append-to-body="true" id="entryPO">
                                    {{ inputQuery.length == 0 ? object[0] : object[0].toLowerCase().indexOf(inputQuery.toLowerCase()) != -1 ? object[0] : ''
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 well well-sm" style="height:500px">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#studioIn" aria-controls="home" role="tab" data-toggle="tab">Studio</a>
                                </li>
                                <li role="presentation">
                                    <a href="#matIn" aria-controls="tab" role="tab" data-toggle="tab">Material</a>
                                </li>
                                <li role="presentation">
                                    <a href="#toolIn" aria-controls="tab" role="tab" data-toggle="tab">Tool</a>
                                </li>
                                <li role="presentation">
                                    <a href="#conIn" aria-controls="tab" role="tab" data-toggle="tab">Consumable</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="studioIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="stdPost()">
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Type" id="formData.Type" placeholder="Studio" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Name" id="formData.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-sm-1 col-sm-offset-1">

                                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#locModal">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                    </button>

                                                    <!--
                                                    TODO:
                                                    Reset location pin when switching between entry tabs and submit;
                                                    Send pin location to ctrlr? to send to server as part of the JSON object;
                                                    -->

                                                    <!--modal start-->
                                                    <div class="modal fade" id="locModal" role="dialog">
                                                        <div class="modal-dialog modal-lg">

                                                            <!--modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn btn-small btn-default close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">
                                                                        Click anywhere to designate a location...
                                                                    </h4>
                                                                    <div class="modal-body" id="modalBody">
                                                                        <div>
                                                                            <!--the map is smaller than expected-->
                                                                            <script type="text/javascript">
                                                                            drawMap("modalBody", 1);
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.DimW" class="control-label">Dimensions/Units: <br /> W x L / U </label>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.DimW" id="formData.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimL" id="formData.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control " type="text" ng-model="formData.DimU" id="formData.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-sm-offset-11">
                                                <button type="submit" class="btn btn-default">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="matIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="stdPost()">
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Type" id="formData.Type" placeholder="Material" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Name" id="formData.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#matLocModal">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                    </button>
                                                    <!--modal start-->
                                                    <div class="modal fade" id="matLocModal" role="dialog">
                                                        <div class="modal-dialog modal-lg">

                                                            <!--modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn btn-small btn-default close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">
                                                                        Click anywhere to designate a location...
                                                                    </h4>
                                                                    <div class="modal-body" id="matModalBody">
                                                                        <div>
                                                                            <!--the map is smaller than expected-->
                                                                            <script type="text/javascript">
                                                                            drawMap("matModalBody", 1);
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Weight" class="control-label">Weight/Unit: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Weight" id="formData.Weight" placeholder="Weight" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.WUnit" id="formData.WUnit" placeholder="Unit" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="formData.DimW" class="control-label">Dimensions/Units: <br/> W x L x H / U </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimW" id="formData.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimL" id="formData.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimH" id="formData.DimH" placeholder="Height" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control " type="text" ng-model="formData.DimU" id="formData.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Qty" class="control-label">Quantity: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Qty" id="formData.Qty" placeholder="Quantity" />
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-sm-offset-11">
                                                <button type="submit" class="btn btn-default">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="toolIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="stdPost()">
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Type" id="formData.Type" placeholder="Tool" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Name" id="formData.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <button type="button" class="btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                    </button> </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Weight" class="control-label">Weight/Unit: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Weight" id="formData.Weight" placeholder="Weight" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.WUnit" id="formData.WUnit" placeholder="Unit" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="formData.DimW" class="control-label">Dimensions/Units: <br/> W x L x H / U </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimW" id="formData.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimL" id="formData.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimH" id="formData.DimH" placeholder="Height" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control " type="text" ng-model="formData.DimU" id="formData.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Qty" class="control-label">Quantity: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Qty" id="formData.Qty" placeholder="Quantity" />
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-sm-offset-11">
                                                <button type="submit" class="btn btn-default">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="conIn">
                                    <div class="container-fluid">
                                        <form class="form-horizontal" ng-submit="stdPost()">
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Type" class="control-label">Type:</label>
                                                </div>
                                                <div class="col-sm-2 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Type" id="formData.Type" placeholder="Consumable" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.NameIn" class="control-label">Name:</label>
                                                </div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Name" id="formData.NameIn" placeholder="Enter the item name..."
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.LocIn" class="control-label">Location: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <button type="button" class="btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                    </button> </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Weight" class="control-label">Weight/Unit: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Weight" id="formData.Weight" placeholder="Weight" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.WUnit" id="formData.WUnit" placeholder="Unit" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="formData.DimW" class="control-label">Dimensions/Units: <br/> W x L x H / U </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimW" id="formData.DimW" placeholder="Width" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimL" id="formData.DimL" placeholder="Length" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control" type="text" ng-model="formData.DimH" id="formData.DimH" placeholder="Height" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input class="form-control " type="text" ng-model="formData.DimU" id="formData.DimU" placeholder="Units" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <label for="formData.Qty" class="control-label">Quantity: </label>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-1">
                                                    <input class="form-control" type="text" ng-model="formData.Qty" id="formData.Qty" placeholder="Quantity" />
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-sm-offset-11">
                                                <button type="submit" class="btn btn-default">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous "></script>
    <script src="../app/components/index/index.js"></script>
    <script src="../app/components/index/entryTpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
</body>

</html>
