<div id="popContent">
    <div ng-repeat="prop in object track by $index">
        <div><strong>{{ prop !== '' ? entryProperties[$index] + ': ' : '' }}</strong></div>
        <div id="popContentName">{{ prop }}</div>
    </div>
</div>
<div>
    <!-- Call delete and edit in this div body -->

    <button type="button" class="btn btn-primary" data-toggle="modal" href="#modal-confirm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>

    <!--modal start for delete confirmation-->

    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    Confirm deletion of {{ object[0] }}.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deletePost(object[0])" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <!--modal start for edits-->
    <button type="button" class="btn btn-primary" data-toggle="modal" href="#modal-edit">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{object[0]}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="prop in object track by $index">
                        <strong>{{ entryProperties[$index] }}</strong>
                        <edit-entry-form></edit-entry-form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editEntry(object[0])">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>