<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="3600; URL=http://localhost:3000">

<head>
    <title>MakerLabs Catalog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>

<body>
    <div ng-app="myApp">
        <div class="container" ng-controller="MainCtrl">
          <div ng-app="d3mapping" ng-controller="mapController">
            <br>
            <div class="row">
                <img src="assets/makerlabs.png" alt="makerlablogo" height="60px">
                <a href="input">Input</a>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <!-- accordion start -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" id="searchpanel">
                            <div class="panel-heading" id="searchbar">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="search" class="form-control" placeholder="Search here" ng-model="queryTerm" ng-change="changeHeight()" />
                                        <div id="searchSection">
                                            <div ng-repeat="object in data">
                                                <index-search-res></index-search-res>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="panel-bg">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="ct-panel-toggle"> {{ categories.studio }} </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <!-- sheet data -->
                                    <div ng-repeat="object in data">
                                        <div uib-popover-template="entryProps" popover-placement="left" popover-trigger="outsideClick" popover-title="{{ object[0] }}"
                                            id="entryPO" ng-click="showItemLoc(object[0])">
                                            {{ object[1] === "Studio" ? object[0] : '' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="panel-bg">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> {{ categories.tools }} </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-repeat="object in data">
                                        <div uib-popover-template="entryProps" popover-placement="left" popover-trigger="outsideClick" popover-title="{{ object[0] }}"
                                            id="entryPO">
                                            {{ object[1] === "Tool" ? object[0] : '' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="panel-bg">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> {{ categories.cons }} </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-repeat="object in data">
                                        <div uib-popover-template="entryProps" popover-placement="left" popover-trigger="outsideClick" popover-title="{{ object[0] }}"
                                            id="entryPO">
                                            {{ object[1] === "Consumable" ? object[0] : '' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="panel-bg">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> {{ categories.mats }} </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-repeat="object in data">
                                        <div uib-popover-template="entryProps" popover-placement="left" popover-trigger="outsideClick" popover-title="{{ object[0] }}"
                                            id="entryPO">
                                            {{ object[1] === "Material" ? object[0] : '' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-sm-8">
                        <div role="tabpanel" id="indexTabPanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#firstFloor" aria-controls="firstFloor" role="tab" data-toggle="tab" id="firstFloorTab" >First Floor</a>
                                </li>
                                <li role="presentation">
                                    <a href="#secondFloor" aria-controls="secondFloor" role="tab" data-toggle="tab" id="secondFloorTab" >Second Floor</a>
                                </li>
                            </ul>
                            <maker-map></maker-map>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" ng-model="fstFloorSize" id="firstFloor" ng-click="resizeMap()">
                                    <div class="well well-lg" id="firstFloorWell">
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" ng-model="secFloorSize" id="secondFloor" ng-click="resizeMap()">
                                    <div class="well well-lg" id="secondFloorWell">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../app/components/index/index.js"></script>
    <script src="../app/components/index/indexDirs.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../app/components/d3/d3demo.js"></script>
    <script src="../app/components/d3/d3map.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63204534-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
