<!DOCTYPE html>
<html>
<!--
    Made by: Andrew Song, Sunny Leung
-->

<head>
    <title>MakerLabs Catalog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<body>
<div ng-app="indexApp">
    <div class="container-fluid view-color" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-sm-2 lvl1-box-shadow" id="accordion-container">
                <img class="centerImage" src="assets/makerlabs.png" alt="makerlablogo" id="index-logo">
                <!-- accordion start -->
                <div class="panel-group" id="accordion">
                    <div class="row">
                        <div class="col-sm-12" id="search-bar-col">
                            <div class="input-group" id="search-bar-div">
                                <input type="search" class="form-control"
                                       placeholder="Start typing here..."
                                       ng-model="queryTerm" ng-change="changeHeight()" id="search-bar-in"/>
                                <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="clearSearch()" id="clear-button">Clear</button>
      </span>
                            </div>
                            <br>
                            <div class="hidden greyScroll" id="searchSection">
                                <div ng-repeat="entry in entries">
                                    <div class="entryNames round" ng-click="onSelect(entry,'query')"
                                         ng-bind="filterSearch(entry)" id="query_{{entry.key}}">
                                    </div>
                                </div>
                                <!-- ENTRIES SHOW HERE-->
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow red categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse1"
                                     class="whiteFont standardFont" ng-bind="categories.studio"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer redScroll">
                                <!-- studio data -->
                                <div ng-repeat="entry in studioEntries">
                                    <div class="entryNames round listMargins"
                                         ng-click="onSelect(entry,'studio')"
                                         id="studio_{{ entry.key }}" ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow blue categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse2"
                                     class="whiteFont standardFont" ng-bind="categories.tools"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer blueScroll">
                                <div ng-repeat="entry in toolEntries">
                                    <div ng-click="onSelect(entry,'tool')"
                                         class="entryNames round listMargins" id="tool_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow green categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse3"
                                     class="whiteFont standardFont" ng-bind="categories.cons"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer greenScroll">
                                <div ng-repeat="entry in consumableEntries">
                                    <div ng-click="onSelect(entry,'cons')"
                                         class="entryNames round listMargins" id="cons_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow orange categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse4"
                                     class="whiteFont standardFont" ng-bind="categories.mats"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer orangeScroll" id="ct-index-panel-body">
                                <div ng-repeat="entry in materialEntries">
                                    <div ng-click="onSelect(entry,'material')"
                                         class="entryNames round listMargins" id="material_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 view-color" id="entry-container">
                        <div class="panel panel-default lvl1-box-shadow" id="entryPanel">
                            <div class="panel-heading entryTitle white" id="indexPanelHeading">
                                <p class="panel-title standardFont" ng-bind="panelTitleName" id="panelTitleName">
                                </p>
                                <small ng-bind="panelTitleType" class="whiteFont"></small>
                            </div>
                            <div class="panel-body white standardFont" id="entryBody">
                                <!--panel body-->
                                <div class="" id="welcomeMessage">
                                    <p ng-bind="panelBodyMessage"></p>
                                </div>
                            </div>
                            <div class="panel-body hidden white standardFont" id="entryDetails">
                                <div class="col-sm-12">
                                    <div class="row" id="detailInfoRow">
                                        <div class="row" ng-repeat="prop in dataLabels track by $index"
                                             ng-if="isEmpty(prop)" id="{{ selectedObject.key }}{{ prop }}">
                                            <div class="col-sm-6" ng-bind="entryProperties[$index] + ':'">
                                            </div>
                                            <div class="col-sm-6 alignEntryValues" ng-bind="selectedObject[prop]">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="detailImageRow">
                                        <hr>
                                        <div>
                                            <div id="loading">
                                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="hidden" id="not-found">
                                                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
                                                <h3>Image not Found</h3>
                                            </div>
                                            <img class="centerImage hidden" src="" alt="" id="entryImg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-controller="mapController">
                        <div class="col-sm-8" id="mapContainer">

                            <div class="row" id="markerButtons">
                                <div class="container">
                                    <div class="col-sm-2 col-sm-offset-7 btn btn-default lvl1-box-shadow"
                                         ng-click="changeFloor()">Change Floor
                                    </div>
                                </div>
                            </div>

                            <div class="well well-lg lvl1-box-shadow" id="firstFloorWell">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/app/components/feedback/feedback.js"></script>
<script src="/app/components/analytics/analytics.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v4.js"></script>
<script src="/app/components/d3/map.js"></script>
<script src="/app/components/d3/mapController.js"></script>
<script src="/app/components/index/index.js"></script>

</body>

</html>
