<!DOCTYPE html>
<html>
<!--
    Made by: Andrew Song, Sunny Leung
    Made better by: Jeremy Ho
-->

<head>
    <title>MakerLabs Catalog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
<div ng-app="indexApp">
    <div class="container-fluid view-color" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-sm-2" id="accordion-container">
                <div class="row">
                    <a href="/signin">
                        <div class="btn btn-block btn-primary round" id="signin-btn">
                            Sign In
                        </div>
                    </a>
                </div>
                <img class="centerImage" src="assets/makerlabs.png" alt="makerlablogo" id="index-logo">
                <!-- accordion start -->
                <div class="panel-group" id="accordion">
                    <div class="row">
                        <div class="col-sm-12" id="search-bar-col">
                            <div class="input-group" id="search-bar-div">
                                <input type="search" class="form-control"
                                       placeholder="Start typing here..."
                                       ng-model="queryTerm" ng-change="changeHeight()" id="search-bar-in"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="clearSearch()" id="clear-button">Clear</button>
                                </span>
                            </div>
                            <br>
                            <div class="hidden greyScroll" id="searchSection">
                                <div ng-repeat="entry in entries">
                                    <div class="entryNames round" ng-click="onSelect(entry,'query')"
                                         ng-bind="filterSearch(entry)" id="query_{{entry.key}}">
                                    </div>
                                </div>
                                <!-- ENTRIES SHOW HERE-->
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow red categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse1"
                                     class="whiteFont standardFont" ng-bind="categories.studio"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer redScroll">
                                <!-- studio data -->
                                <div ng-repeat="entry in studioEntries">
                                    <div class="entryNames round listMargins"
                                         ng-click="onSelect(entry,'studio')"
                                         id="studio_{{ entry.key }}" ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow blue categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse2"
                                     class="whiteFont standardFont" ng-bind="categories.tools"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer blueScroll">
                                <div ng-repeat="entry in toolEntries">
                                    <div ng-click="onSelect(entry,'tool')"
                                         class="entryNames round listMargins" id="tool_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow green categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse3"
                                     class="whiteFont standardFont" ng-bind="categories.cons"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer greenScroll">
                                <div ng-repeat="entry in consumableEntries">
                                    <div ng-click="onSelect(entry,'cons')"
                                         class="entryNames round listMargins" id="cons_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading lvl1-box-shadow orange categoryMargins">
                            <h4 class="panel-title pointer">
                                <div data-toggle="collapse" href="#collapse4"
                                     class="whiteFont standardFont" ng-bind="categories.mats"
                                     ng-click="forceShrinkSearch()"></div>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse categoryMargins" data-parent="#accordion">
                            <div class="panel-body categoryContainer orangeScroll" id="ct-index-panel-body">
                                <div ng-repeat="entry in materialEntries">
                                    <div ng-click="onSelect(entry,'material')"
                                         class="entryNames round listMargins" id="material_{{ entry.key }}"
                                         ng-bind="entry.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" id="mapContainer" ng-controller="mapController">
                <div class="btn-group-vertical floor-button">
                    <button class="btn btn-default pull-left"
                            ng-click="toFloorTwo()" id="markerButtons" ng-class="{active : map.currentFloor === 2}">Floor 2
                    </button>
                    <button class="btn btn-default pull-left"
                            ng-click="toFloorOne()" id="markerButtons" ng-class="{active : map.currentFloor === 1}">Floor 1
                    </button>
                </div>
                <div class="well well-lg" id="floorDisplay">
                </div>
                <!-- Modal -->
                <div>
                    <div class="modal" id="popover">
                        <div class="modal-dialog" id="modalWindow">
                            <div class="modal-content">
                                <div class="modal-header" id="indexModalHeading">
                                    <button type="button" class="close modal-close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title" id="modalTitleName"></h3>
                                </div>
                                <div class="modal-body white standardFont greyScroll" id="entryDetails">
                                    <div class="container-fluid">
                                        <div class="col-sm-6 entryInfo">
                                            <p id="address"> unavailable</p>
                                        </div>
                                        <div class="col-sm-6 entryInfo">
                                            <p id="additionalInfo"> unavailable</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <img class="centerImage hidden" src="" alt="" id="entryImg">
                                    </div>
                                    <img class="centerImage hidden" src="" alt="" id="subloc-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/app/analytics/analytics.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v4.js"></script>
<script src="/app/d3/map.js"></script>
<script src="/app/d3/mapController.js"></script>
<script src="/app/index/index.js"></script>
<script src="/app/index/jquery.ui.touch-punch.min.js"></script>
<script>
        $('.modal').modal({ keyboard: true,
                           show: false
        });
        // Jquery draggable
        $('.modal-dialog').draggable({
            handle: ".modal-header"
        });
        $('.modal').on('show.bs.modal', function () {
            $(this).find('.modal-body').css({
                width:'auto', //probably not needed
                height:'auto', //probably not needed 
                'max-height':'100%'
            });
            $(".modal-backdrop.in").hide();
        });
        $(".modal").on("hidden.bs.modal", function(){
            $(this).find('.modal-dialog').css({
                left:'',
                top:''
            })
        });
</script>  
<script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'L6549boJNypRXj1jVHubdxnjicNVpfEyy2Ta9vW0qRjcQluhkExZdT38qMYyBQz4'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/5118?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>

</body>

</html>
