<!DOCTYPE>
<html>

<head>
    <title>Data Population</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link href="/style/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
</head>

<body>
<div ng-app="inputApp">
    <div class="container-fluid" ng-controller="inputCtrl" id="input-background">
        <div class="row">
            <div class="col-sm-2" id="input-result-container">
                <img class="centerImage" src="/assets/makerlabs.png" alt="MakerLabs" id="input-logo"/>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="search" class="form-control lvl1-box-shadow" placeholder="Search here"
                               ng-model="inputQuery"/>
                    </div>
                </div>
                <div class="row" id="admin-search-result">
                    <div class="container-fluid">
                        <div ng-repeat="entry in entries">
                            <div class="entryNames" ng-bind="filterSearch(entry)" id="admin_{{ entry.key }}"
                                 ng-click="showLoc(entry.key);selectEntry(entry)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 view-color pageSize">
                <div class="row fixedTop">

                </div>
                <div class="row">
                    <div class="col-sm-3" id="entryPage">
                        <div class="well well-sm inputWellSize white lvl1-box-shadow noPadding">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 noPadding inputAreaHeight">
                                        <button type="button" class="btn btn-default inputOptionsBtns"
                                                ng-click="clearForm()">
                                                <span class="glyphicon glyphicon-file">
                                                </span>
                                        </button>
                                    </div>
                                    <div class="col-sm-6 noPadding inputAreaHeight">
                                        <button type="button" class="btn btn-default inputOptionsBtns">
                                                <span class="glyphicon glyphicon-pencil">
                                                </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput" id="nameIn"
                                           class="form-control  inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.name }}"
                                           ng-model="form.name">
                                </div>
                                <div class="row">
                                    <div class="btn-group btn-group-justified inputAreaHeight"
                                         data-toggle="buttons" id="buttonGroup">
                                        <div class="btn btn-default" id="stdTypeDiv">
                                            <input type="radio" name="typeOptions" id="option1"
                                                   autocomplete="off" value="Studio" checked>Studio
                                        </div>
                                        <div class="btn btn-default" id="matTypeDiv">
                                            <input type="radio" name="typeOptions" id="option2"
                                                   autocomplete="off" value="Material">Material
                                        </div>
                                        <div class="btn btn-default" id="conTypeDiv">
                                            <input type="radio" name="typeOptions" id="option3"
                                                   autocomplete="off" value="Consumable">Consumable
                                        </div>
                                        <div class="btn btn-default" id="toolTypeDiv">
                                            <input type="radio" name="typeOptions" id="option4"
                                                   autocomplete="off" value="Tool">Tool
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput" id="nameIn"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.subtype }}"
                                           ng-model="form.subtype">
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput" id="nameIn"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.sublocation }}"
                                           ng-model="form.sublocation">
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.width }}"
                                               ng-model="form.width">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.length }}"
                                               ng-model="form.width">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.height }}"
                                               ng-model="form.height">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control  inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.units }}"
                                               ng-model="form.units">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.weight }}"
                                               ng-model="form.weight">
                                    </div>
                                    <div class="col-sm-6 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.weightunit }}"
                                               ng-model="form.weightunit">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.quantity }}"
                                               ng-model="form.quantity">
                                    </div>
                                    <div class="col-sm-6 noPadding">
                                        <input type="text" name="entryInput" id="nameIn"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.price }}"
                                               ng-model="form.price">
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput" id="nameIn"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.keywords }}"
                                           ng-model="form.keywords">
                                </div>
                                <div class="row">
                                    <textarea class="form-control" rows="3"
                                              placeholder="{{ entryPropertiesObj.description }}"
                                              ng-model="form.description"></textarea>
                                </div>
                                <div class="row hidden" id="deleteBtn">
                                    <button type="button" class="btn btn-block btn-danger inputAreaHeight">Delete
                                    </button>
                                </div>
                                <div class="row hidden" id="editBtn">
                                    <button type="submit" class="btn btn-block btn-primary inputAreaHeight"
                                            ng-click="edit()">Edit
                                    </button>
                                </div>
                                <div class="row" id="submitBtn">
                                    <button type="submit" class="btn btn-block btn-primary inputAreaHeight"
                                            ng-click="insert(dataLength)">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9" id="entryMap">
                        <div class="well well-sm inputWellSize white lvl1-box-shadow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous "></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../app/components/d3/d3demo.js"></script>
<script src="../app/components/d3/d3map.js"></script>
<script src="../app/components/index/index.js"></script>
<script src="../app/components/input/input.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63204534-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>