<!DOCTYPE>
<html>

<head>
    <title>Data Population</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link href="/style/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<body>
<div ng-app="inputApp">
    <div class="container-fluid" ng-controller="inputCtrl" id="input-background">
        <div class="row">
            <div class="col-sm-2" id="input-result-container">
                <img class="centerImage" src="/assets/makerlabs.png" alt="MakerLabs" id="input-logo"/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Start typing here..."
                                   ng-model="inputQuery"/>
                            <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="clearSearch()">Clear</button>
      </span>
                        </div>
                    </div>
                </div>
                <div class="row greyScroll" id="admin-search-result">
                    <div class="container-fluid">
                        <div ng-repeat="entry in entries">
                            <div class="entryNames listMargins" ng-bind="filterSearch(entry)" id="admin_{{ entry.key }}"
                                 ng-click="selectEntry(entry)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 view-color pageSize">
                <div class="row">
                    <div class="col-sm-4 white noPadding hidden" id="loading-page">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="col-sm-4 white noPadding" id="entryPage">
                        <form ng-submit="insert(dataLength, 'new')">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12 noPadding inputAreaHeight">
                                        <button type="button" class="btn btn-default inputOptionsBtns"
                                                ng-click="newForm()">
                                                <span class="glyphicon glyphicon-file">
                                                </span>
                                            New
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput"
                                           class="form-control  inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.name }}"
                                           ng-model="form.name" required="required">
                                </div>
                                <div class="row">
                                    <div class="btn-group btn-group-justified inputAreaHeight"
                                         data-toggle="buttons" id="buttonGroup">
                                        <div class="btn btn-default noBorderRadius" id="stdTypeDiv"
                                             ng-click="changeSendBtnColor('Studio')">
                                            <input type="radio" name="typeOptions" id="radioStudio"
                                                   autocomplete="off" value="Studio" checked>Studio
                                        </div>
                                        <div class="btn btn-default noBorderRadius" id="toolTypeDiv"
                                             ng-click="changeSendBtnColor('Tool')">
                                            <input type="radio" name="typeOptions" id="radioTool"
                                                   autocomplete="off" value="Tool">Tool
                                        </div>
                                        <div class="btn btn-default noBorderRadius" id="conTypeDiv"
                                             ng-click="changeSendBtnColor('Consumable')">
                                            <input type="radio" name="typeOptions" id="radioConsumable"
                                                   autocomplete="off" value="Consumable">Consumable
                                        </div>
                                        <div class="btn btn-default noBorderRadius" id="matTypeDiv"
                                             ng-click="changeSendBtnColor('Material')">
                                            <input type="radio" name="typeOptions" id="radioMaterial"
                                                   autocomplete="off" value="Material">Material
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.subtype }}"
                                           ng-model="form.subtype">
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.sublocation }}"
                                           ng-model="form.sublocation">
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 noPadding">
                                        <input type="number" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.width }}"
                                               ng-model="form.width" max="10000">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <input type="number" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.length }}"
                                               ng-model="form.length" max="10000">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <input type="number" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.height }}"
                                               ng-model="form.height" max="10000">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <div class="dropdown">
                                            <button class="btn btn-block btn-default dropdown-toggle inputAreaHeight"
                                                    data-toggle="dropdown" ng-model="form.units">
                                                <span ng-bind="form.units">Select Unit</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a ng-click="form.units='N/A'">N/A</a></li>
                                                <li class="divider"></li>
                                                <li><a ng-click="form.units='mm'">mm</a></li>
                                                <li><a ng-click="form.units='cm'">cm</a></li>
                                                <li><a ng-click="form.units='in'">in</a></li>
                                                <li><a ng-click="form.units='ft'">ft</a></li>
                                                <li><a ng-click="form.units='m'">m</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 noPadding">
                                        <input type="number" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.weight }}"
                                               ng-model="form.weight" max="10000">
                                    </div>
                                    <div class="col-sm-6 noPadding">
                                        <div class="dropdown">
                                            <button class="btn btn-block btn-default dropdown-toggle inputAreaHeight"
                                                    data-toggle="dropdown" ng-model="form.weightUnits">
                                                <span ng-bind="form.weightUnits">Select Unit</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu col-sm-12">
                                                <li><a ng-click="form.weightUnits='N/A'">N/A</a></li>
                                                <li class="divider"></li>
                                                <li><a ng-click="form.weightUnits='lbs'">lbs</a></li>
                                                <li><a ng-click="form.weightUnits='kg'">kg</a></li>
                                                <li><a ng-click="form.weightUnits='ton'">ton</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 noPadding">
                                        <input type="number" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.quantity }}"
                                               ng-model="form.quantity">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="increase('quantity')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="decrease('quantity')">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 noPadding">
                                        <input type="text" name="entryInput"
                                               class="form-control inputAreaHeight"
                                               placeholder="{{ entryPropertiesObj.price }}"
                                               ng-model="form.price">
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="increase('price')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="decrease('price')">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="text" name="entryInput"
                                           class="form-control inputAreaHeight"
                                           placeholder="{{ entryPropertiesObj.keywords }}"
                                           ng-model="form.keywords">
                                </div>
                                <div class="row">
                                    <div class="col-sm-9 noPadding">
                                        <input class="form-control inputAreaHeight" type="text" ng-model="form.image"
                                               disabled/>
                                    </div>
                                    <div class="col-sm-3 noPadding">
                                        <label class="btn btn-block btn-default inputAreaHeight" id="file-in-label">
                                            <span>Browse</span>
                                            <input type="file" accept="image/*" id="file-input"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea class="form-control" rows="6"
                                              placeholder="{{ entryPropertiesObj.description }}"
                                              ng-model="form.description"></textarea>
                                </div>
                                <div class="row" id="submitBtn">
                                    <button type="submit" class="btn btn-block btn-default inputAreaHeight">
                                        <span class="glyphicon glyphicon-cloud-upload" id="uploadIcon">
                                            </span>
                                        Submit
                                    </button>
                                </div>
                                <div class="row hidden" id="free-studio-btn">
                                    <button type="button" ng-click="confirmFree()"
                                            class="btn btn-block btn-default inputAreaHeight">
                                        Make Studio Available
                                    </button>
                                </div>
                                <div class="row hidden" id="confirm-free">
                                    <div class="col-sm-6 noPadding">
                                        <button type="button"
                                                class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="freeStudio()" id="confirm-free-text">Confirm
                                        </button>
                                    </div>
                                    <div class="col-sm-6 noPadding" id="cancel-free">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="cancelFree()" id="cancel-free-text">Cancel
                                        </button>
                                    </div>
                                </div>
                                <div class="row hidden" id="deleteBtn">
                                    <button type="button"
                                            class="btn btn-block btn-default inputAreaHeight"
                                            ng-click="confirmDelete()" id="deleteIcon">Delete
                                    </button>
                                </div>
                                <div class="row hidden" id="confirmDel">
                                    <div class="col-sm-6 noPadding">
                                        <button type="button"
                                                class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="delete()" id="confirmDelText">Confirm
                                        </button>
                                    </div>
                                    <div class="col-sm-6 noPadding" id="cancelDel">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="cancelDelete()" id="cancelDelText">Cancel
                                        </button>
                                    </div>
                                </div>
                                <div class="row hidden" id="editBtn">
                                    <div class="btn btn-block btn-default inputAreaHeight"
                                         ng-click="confirmEdit()">
                                        <span class="glyphicon glyphicon-pencil" id="editIcon">
                                            </span>
                                    </div>
                                </div>
                                <div class="row hidden" id="confirmEdit">
                                    <div class="col-sm-6 noPadding">
                                        <button type="button" class="btn btn-block btn-default inputAreaHeight"
                                                ng-click="edit('edit')">Confirm
                                        </button>
                                    </div>
                                    <div class="col-sm-6 noPadding" id="cancelEdit">
                                        <div class="btn btn-block btn-default inputAreaHeight"
                                             ng-click="cancelEdit()">Cancel
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-sm-8" id="entryMap">
                        <div class="container-fluid">
                            <div class="row" id="auth-modal">
                                <!-- authorization modal -->
                                <a class="btn btn-block btn-primary" data-toggle="modal" href="#modal-id">Authorize</a>
                                <div class="modal fade" id="modal-id">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">OAuth2</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="" id="auth" target="_blank">
                                                            Open link to authorization page.
                                                        </a>
                                                    </button>
                                                </div>
                                                <br>
                                                <div>
                                                    <input type="text" name="authCode" id="authCode"
                                                           class="form-control"
                                                           ng-model="authCode" required="required"
                                                           placeholder="Paste authorization code here"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary" ng-click="sendCode()"
                                                        data-dismiss="modal">Authorize
                                                </button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </div>
                            <div class="row">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default edit-buttons"
                                            ng-click="deleteAllMarker()">Delete
                                        All
                                    </button>
                                    <button type="button" class="btn btn-default edit-buttons"
                                            ng-click="deleteLastMarker()">Delete
                                        Last
                                    </button>
                                    <button type="button" class="btn btn-default edit-buttons" ng-click="changeFloor()">
                                        Change
                                        Floor
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="white " id="firstFloor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<!-- development Angular -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="../app/d3/map.js"></script>
<script src="/app/d3/mapController.js"></script>
<script src="/app/index/index.js"></script>
<script src="/app/input/input.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63204534-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>
