/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    overflow: auto;
}

.container-fluid {
    padding: 0;
}

.hidden {
    display: none;
}

h2 {
    margin: 0;
    padding: 10px;
    font-size: 2em;
}

hr {
    margin-top: 0px;
}

#info-row {
    height: 100vh;
    margin: 0;
}

#remove-icon {
    background: none;
    border: none;
    font-size: 2em;
}

.round-right-edge {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.no-border {
    border: none;
}

.no-radius {
    border-radius: 0;
}

.no-margin {
    margin: 0;
}

.panel-heading {
    height: 40px;
}

.panel-heading > h4 {
    font-size: 1.5em;
    font-size: 18px;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-title {
    font-size: 1em;
}

.cursor:hover {
    cursor: pointer;
}

.page-header {
    margin: 0px 0px 0px 0px;
}

.panel-body {
    height: 65vh;
    /* width: 18vw; */
    margin-right: 15px;
    overflow-y: scroll;
    padding: 0;
}

.names {
    font-size: 1.5em;
    font-size: 18px;
    padding: 10px 0px 10px 5px;
    margin: 0;
}

.click {
    cursor: pointer;
}

#logo {
    height: 5vh;
}

#list {
    padding: 0;
}

#details {
    max-height: 100vh;
    border-right: 1px solid #eeeeee;
    padding: 0 15px 0 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

#form {
    height: 95vh;
    overflow-y: scroll;
}

#entry-title {
    border-radius: 10px;
}

#input-file {
    padding: 0px 10px 0 10px;
}

#entry-image {
    /* changed to max-width for input page only */
    max-width: 20vw;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}

#loading, #not-found {
    text-align: center;
}

#map-container {
    height: 100vh;
    padding: 20px;
}

.red {
    background-color: #F14A29 !important;
}

.red-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

.red-scroll::-webkit-scrollbar-thumb {
    background-color: #F14A29;
    border-radius: 10px;
}

.light-red {
    background-color: #f15f35 !important;
}

.blue {
    background-color: #107CC2 !important;
}

.blue-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

.blue-scroll::-webkit-scrollbar-thumb {
    background-color: #107CC2;
    border-radius: 10px;
}

.light-blue {;
    background-color: #71A0C2 !important;
}

.orange {
    background-color: #F3902C !important;
}

.orange-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

.orange-scroll::-webkit-scrollbar-thumb {
    background-color: #F3902C;
    border-radius: 10px;
}

.light-orange {
    background-color: #F3B681 !important;
}

.green {
    background-color: #2BAC69 !important;
}

.green-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

.green-scroll::-webkit-scrollbar-thumb {
    background-color: #2BAC69;
    border-radius: 10px;
}

.light-green {
    background-color: #6DAC8D !important;
}

.white {
    background-color: white !important;
}

.white-font {
    color: white;
}

.grey-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

.grey-scroll::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 10px;
}

#search-bar {
    font-size: 1.5em;
    padding: 0 0 0 10px;
}

.search-font {
    font-size: 1.5em;
    font-size: 18px;
    margin: 0;
}

.search-pad {
    padding: 10px 0px 10px 5px;
}

#name {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#fab-menu {
    bottom: 20px;
    right: 20px;
}

#auth-modal {
    margin-top: 0;
}

#auth-modal, #auth-content {
    height: 30vh;
}
