 #firstFloorWell {
        height: 65vh;
        background: white;
        border-radius : 0px;
        border: 0px;
    }

    #secondFloorWell {
        height: 65vh;
        background: white;
        border-radius : 0px;
        border: 0px;
        margin-left: 110px;
    }

    #firstFloorTab {
        border-left: 0px;
        border-top: 0px;
    }

    #accordion {
        height: 75vh;
        border-radius: 0px;
    }
    
    .panel {
        border: 1px solid lightgrey;
    }

    #searchbar {
        background: none;
    }

    #searchSection {
        height:0px;
        overflow-y:scroll;
    }

    #panel-bg {
        background: white;
    }

    .panel-title {
        color: black;
        font-size: 20px;
    }

    .panel-body {
        height: 50vh;
        overflow-y: scroll;
    }

    #inputLogo {
        margin-left: 25px;
    }

    .form-control {
        margin-bottom: 5px;
    }

    .popover {
        width:400px;
        height:400px;
    }

    a {
        color: black;
    }

    #entryPO {
        margin: 20px;
        font-size: 20px;
    }

    #popContent {
        width:250px;
        height:300px;
        overflow-y:scroll;
    }

    #backChevron {
        margin-top: 10px;
    }

    #inputResultBox {
        height: 60vh;
        overflow-y: scroll;
    }

    #inputWell {
        height: 70vh;
        background:white;
    }

    #studioIn, #matIn, #conIn, #toolIn {
        margin-top: 20px;
    }

    #navTab {
        margin: -10px;
    }

    #indexTabPanel {
        border-radius: 5px;
        border: 1px solid #DCDCDC;
    }

    #edit-modal-body {
        height: 50vh;
        overflow-y: scroll;
    }

    #ct-input-forms {
        overflow-y: scroll;
    }

    #ct-index-detail-well {
        height: 70vh;
        background: white;
    }