body {
    font-family: 'Raleway', sans-serif;
}

#firstFloorWell, #secondFloorWell {
    height: 80vh;
    background: white;
    border: none;
}

#index-logo, #input-logo {
    height: 5vh;
}

#accordion-container {
    overflow-y: scroll;
    height: 100vh;
    background: white;
}

.panel-heading {
    border-radius: 0px;
}

a {
    color: black;
}

.view-color {
    background: #fafafa;
}

#index-main-view {
    height: 50px;
}

.entryPO {
    font-size: 20px;
    margin-bottom: 10px;
}

.entryPO:hover {
    cursor: pointer;
}

#std_panel-bg {
    background: #F14A29;
}

#tl_panel-bg {
    background: #107CC2;
}

#mat_panel-bg {
    background: #F3902C;
}

#con_panel-bg {
    background: #2BAC69;
}

#std_panel-bg, #tl_panel-bg, #mat_panel-bg, #con_panel-bg {
    margin-left: -15px;
    margin-right: -15px;
}

#searchbar {
    background: white;
    border: none;
}

#searchSection {
    height:0px;
    background: #fafafa;
    padding: 0px 0px 0px 20px;
    margin: 20px -15px 20px -15px;
}

.panel-title {
    font-size: 20px;
}

#input-result-container  {
    height: 100vh;
    overflow-y: scroll;
    background: white;
}

#index_logo {
    height: 60px;
    margin-top: 10px;
}

#ct-input-forms {
    overflow-y: scroll;
}

#ct-idx-ph-det {
    background: white;
    border: 0px;
}

.lvl1-box-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#ct-index-panel-body-detail {
    height: 80vh;
    background: white;
    font-size: 20px;
    border: none;
}

.ct-panel-toggle {
    color: white;
}

.ct-panel-toggle:hover {
    cursor: pointer;
}

#ct-index-object-name {
    text-align: right;
}

.panel {
    border: none;
}

#ct-edit, #loc-edit{
    margin-top: 20px;
}

#index-view-container {
    margin-left: 70px;
}

#floor1Tab, #floor2Tab {
    border-radius: 0px;
}

#marker1{
  z-index: 5!important;
}

.nav {
    border: 0px;
}

#edit-first-floor, #edit-second-floor {
    height: 80vh;
    padding-bottom: 30px;
}

#input-tab-content {
    height: auto;
    max-height: 95vh;
    overflow-y: scroll;
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

#input-container {
    margin-top: 2vh;
}

.studio{
  opacity: 0.5;
}
.studioHighlight{
  fill: red;
}

.studioGroup{
}

.map{
  width: 100%;
}

.mapContainer{
  width: 100%;
  height: 100%;
}

/*Isometric map is rotation by 45 degrees and scale vertical by 0.6
*/
/*.floor2Map{
  transform: translate(285, 370);
  transform: scale(1,0.6);
  transform: rotate(-135);
}*/
#dimension-drop-down, #weight-drop-down {
    margin-bottom:-15px;
}
