body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.alignEntryValues {
    text-align: right;
}

#searchSection {
    height: auto;
    max-height: 55vh;
    overflow-y: scroll;
}

#firstFloorWell, #secondFloorWell {
    height: 80vh;
    background: white;
    border: none;
}

#accordion-container {
    height: 100vh;
    background: white;
}

.panel-heading {
    border-radius: 0px;
}

a {
    color: black;
}

small {
    font-size: 12px;
}

.well {
    border: 0px;
    border-radius: 0;
}

.view-color {
    background: #fafafa;
}

.entryNames {
    font-size: 20px;
}

.entryNames:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.red {
    background-color: #F14A29 !important;
}

.lightRed {
    background-color: #f15f35 !important;
}

.blue {
    background-color: #107CC2 !important;
}

.lightBlue {;
    background-color: #71A0C2 !important;
}

.orange {
    background-color: #F3902C !important;
}

.lightOrange {
    background-color: #F3B681 !important;
}

.green {
    background-color: #2BAC69 !important;
}

.lightGreen {
    background-color: #6DAC8D !important;
}

.white {
    background-color: white;
}

.whiteFont {
    color: white;
}

.categoryMargins {
    margin: 0px -15px 0px -15px;
}

.listMargins {
    padding: 5px 10px 5px 10px;
    margin: 5px -15px 5px -15px;
}

.categoryContainer {
    height: 60vh;
    overflow-y: scroll;
}

#entryTitle {
    height: 7vh;
}

#indexPanelHeading {
    min-height: 7vh;
    max-height: 10vh;
}

#entryBody {
    height: 73vh;
}

#entryDetails {
    height: 73vh;
}

#searchbar {
    background: white;
    border: none;
}

#searchSection {
    background: #fafafa;
    padding: 0px 0px 0px 20px;
    margin: 20px -15px 20px -15px;
}

.standardFont {
    font-size: 20px;
}

#input-result-container {
    height: 100vh;
    background: white;
}

.lvl1-box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel {
    border: none;
}

.nav {
    border: 0px;
}

#admin-search-result {
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: scroll;
}

.centerImage {
    width: 100%;
}

.fixedTop {
    height: 100px;
}

.pageSize {
    height: 100vh;
}

.inputWellSize {
    height: 80vh;
}

.inputOptionsBtns {
    font-size: 20px;
    border: none;
    border-radius: 0px;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    color: gray;
    height: 50px;
}

.noPadding {
    padding: 0px;
}

.noBorderRadius {
    border-radius: 0px;
    border: none;
}

.textAlignCenter {
    text-align: center;
}

.inputAreaHeight {
    height: 50px;
    border: 1px solid rgba(200, 200, 200, 0.51);
    border-radius: 0px;
}

.inputDescHeight {
    height: 100px;
}

textarea {
    resize: none;
    border-radius: 0px !important;
}

.glyphicon {
    font-size: 20px;
}

#stdTypeDiv:hover {
    background-color: #F14A29 !important;
}

#stdTypeDiv.active {
    background-color: #f15f35 !important;
}

#toolTypeDiv:hover {
    background-color: #107CC2 !important;
}

#toolTypeDiv.active {
    background-color: #71A0C2 !important;
}

#conTypeDiv:hover {
    background-color: #2BAC69 !important;
}

#conTypeDiv.active {
    background-color: #6DAC8D !important;
}

#matTypeDiv:hover {
    background-color: #F3902C !important;
}

#matTypeDiv.active {
    background-color: #F3B681 !important;
}

.modal {
    text-align: center;
}

.studio {
    opacity: 0.5;
    cursor: pointer;
}

.studioHighlight {
    fill: red;
    opacity: 0.8;
}

.isoMap {
    width: 100%;
    height: 1000%;
}

.mapContainer {
    width: 100%;
    height: 100%;
}

.marker {
}

.hide {
    visibility: hidden;
}

#deleteIcon, #confirmDelText, #cancelDelText {
    color: red;
}
