<form class="form-horizontal" ng-submit="editEntry(object[0])">
    <div ng-repeat="prop in entryProperties track by $index">
        <div class="form-group" ng-init="editPageCols(prop)" id="edit-form-group{{$index}}">
            <div class="col-sm-2 col-sm-offset-1">
                <label for="edit-input" class="control-label">{{ prop }}: {{$index}} </label>
            </div>
            <div class="col-sm-7 col-sm-offset-1" id="edit-input-form{{$index}}">
                <input class="form-control" type="text" ng-model="editFormData[prop]" />
            </div>
        </div>
    </div>
    <div class="col-sm-1 col-sm-offset-1">
        <button type="button" class="btn btn-large btn-default" href="#edit-first-floor" data-toggle="tab"> 
                <span class="glyphicon glyphicon-map-marker"></span>
                Location
                </button>
    </div>
    <div class="col-sm-1  col-sm-offset-5">
        <button type="button" class="btn btn-large btn-default" ng-click="deletePost(object[0])">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
                </button>
    </div>
    <div class="col-sm-1  col-sm-offset-1">
        <button type="submit" class="btn btn-large btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Make Edit
                </button>
    </div>
</form>