<body>
    <div id="type-buttons">
        <form id="type-button-form">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
            <input type="radio" name="options" id="radio-studio" autocomplete="off" checked>
                Studio
        </label>
                <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-mat" autocomplete="off">
                Material
        </label>
                <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-cons" autocomplete="off">
                Consumable
        </label>
                <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-tool" autocomplete="off">
                Tool
        </label>
            </div>
        </form>
    </div>

    <div id="dimension-buttons">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a unit
            <span class="caret"></span>
        </button>
            <ul class="dropdown-menu">
                <li><a href="#">m</a></li>
                <li><a href="#">ft</a></li>
                <li><a href="#">cm</a></li>
                <li><a href="#">mm</a></li>
            </ul>
        </div>
    </div>

    <div id="weight-buttons">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select a unit
            <span class="caret"></span>
        </button>
            <ul class="dropdown-menu">
                <li><a href="#">kg</a></li>
                <li><a href="#">g</a></li>
                <li><a href="#">mg</a></li>
            </ul>
        </div>
    </div>
</body>