<div class="form-group" id="form-group{{ $index }}">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="input$index" class="control-label">{{ prop }}: {{ $index }} </label>
    </div>
    <div class="col-sm-7 col-sm-offset-1" id="input{{ $index }}">
        <input class="form-control" type="text" ng-model="formData[prop]" placeholder="{{ prop }}" id="inputForm{{ $index }}" />
    </div>
    <template id="type-buttons">
        <div>
            <form id="type-button-form">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
            <input type="radio" name="options" id="radio-studio" autocomplete="off" value="Studio" checked>
                Studio
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-mat" autocomplete="off" value="Material">
                Material
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-cons" autocomplete="off" value="Consumable">
                Consumable
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="options" id="radio-tool" autocomplete="off" value="Tool">
                Tool
        </label>
                </div>
            </form>
        </div>
    </template>

    <template id="dimension-buttons">
        <div class="col-sm-5">
            <div class="form-group">
                <select class="form-control" name="dimDropDown" id="dimension-drop-down">
                    <option>m</option>
                    <option>ft</option>
                    <option>in</option>
                    <option>cm</option>
                    <option>mm</option>
                </select>
            </div>
        </div>
    </template>

    <template id="weight-buttons">
        <div class="col-sm-5">
            <div class="form-group">
                <select class="form-control" name="weightDropDown" id="weight-drop-down">
                    <option>ft</option>
                    <option>in</option>
                    <option>cm</option>
                    <option>mm</option>
                </select>
            </div>
        </div>
    </template>
</div>