<!--modal start-->
<div class="modal fade" id="modal-loc" role="dialog">
    <div class="modal-dialog modal-lg">
        <!--modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-small btn-default close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Click anywhere to designate a location...
                </h4>
                <div class="modal-body">
                    <!--modal body-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>